<!--The content below is only a placeholder and can be replaced.-->
<!-- The guide is taken from tutorial in following link -->
<!-- https://www.youtube.com/watch?v=oa9cnWTpqP8 -->
<!-- https://coursetro.com/courses/19/Learn-Angular-5-from-Scratch---Angular-5-Tutorial -->
<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about">About</a></li>
  <!-- <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li> -->
</ul>

<router-outlet></router-outlet>
